---
os: osx
osx_image: xcode9.4

before_install:
  - brew update
  - brew outdated
  - brew tap rockyluke/devops

install:
  - ruby --version
  # - brew install apireaper
  # - brew install bolt
  - brew install c2go
  - brew install checkipaconsistency
  - brew install drac-kvm
  - brew install exabgp
  - brew install flint
  - brew install git-sweep
  - brew install gitlint
  - brew install gocyclo
  - brew install golint
  - brew install hey
  # - brew install i2cssh
  - brew install lunchy
  - brew install markdownlint
  # - brew install modulesync
  - brew install monitoringreporter
  - brew install pup
  - brew install puppet-lint
  - brew install pycodestyle
  - brew install pydocstyle
  - brew install pylint
  - brew install pyupio
  # - brew install rubocop
  # - brew install sup
  - brew install yaml-lint
  - brew install yamllint

script:
  - apireaper help
  # - bolt --help
  - c2go -v
  - cipa --help
  # - drac-kvm --help
  - exabgp --help
  - flint --help
  - git-sweep --help
  - gitlint --help
  # - gocyclo
  - golint
  # - hey
  # - i2cssh --help
  - lunchy --help
  - mdl --help
  # - msync --help
  - monitoringreporter help
  - pup --help
  - puppet-lint --help
  - pycodestyle --help
  - pydocstyle --help
  - pylint --help
  - pyup --help
  # - rubocop --help
  # - sup --help
  - yaml-lint
  - yamllint --help

notifications:
  email:
    on_success: never
    on_failure: always
# EOF
